<div class="container">
  <form id="compound">
    <div>
      <h2>Compound Interest Calculator</h2>
      <P style="color:blue;"><strong>Principal Amount:</strong><input type="text" id="getPrincipalValue" name="principal"  placeholder="Principal" ></P>
      <P style="color:blue;"><strong>Anual Interest Rate (%):</strong><input type="text" id="getInterestRate" name="interest"  placeholder="Interest Rate" ></P>
      <P style="color:blue;"><strong>Compound:</strong> <input type="text" id="getTiming" name="timing"  placeholder="number of time paid" ></P>
      <P style="color:blue;"><strong>Time (in years) :</strong><input type="text" id="getYear" name="year"  placeholder="Year" ></P>
      <P>
      <input type="button" value="Calculate" id="" onclick="compoundInterest();"/></P>
    </div>
  </form>

  <p id="outputPrincipal"> </p>
  <p id="outputInterest"> </p>
  <p id="outputYear"> </p>
  <p id="outputtime"> </p>
  <p id="compounded"> </p>

  <p id="summary"></p>
</div>


<script type="text/javascript">
  function compoundInterest() {
    let principal = document.getElementById("getPrincipalValue").value;
    let interest = document.getElementById("getInterestRate").value;
    let timing = document.getElementById("getTiming").value;
    let years = document.getElementById("getYear").value;

    let interest_rate = interest/100
    let resultCompound  = principal * Math.pow(1 + interest_rate/timing, timing*years);


    document.getElementById("outputPrincipal").innerHTML = "Principal is " + principal;
    document.getElementById("outputInterest").innerHTML = "Interest is " + interest + "%";
    document.getElementById("outputYear").innerHTML = "Number of Years:" + years;
    document.getElementById("outputtime").innerHTML = "Number of time interest paid per year: " + timing;
    document.getElementById("compounded").innerHTML = "Interest Plus Principal: " + Math.round(resultCompound * 100)/100;
    document.getElementById("summary").innerHTML = "The total amount accrued, principal plus interest, with compound interest on a principal of " + principal + " at a rate of " + interest + "% per year compounded " + timing + " times per year over " + years + " years is $" + Math.round(resultCompound * 100)/100;
  }
</script>
