<h1>User Page</h1>

<h1><%= @user.first_name %></h1>

<div class="container">
  <div class="container" id="main-dashboard">
    <div class="card mb-3" style="border-radius: 10px; padding: 10px; margin: 3px 6px;">
      <div class="row g-0">
        <div class="col-md-4 avatar-box">
          <h5 class="card-title" style="text-align:center;">Welcome User!</h5>
          <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar-xxxlarge" alt="...">
        </div>
        <div class="col-md-8 info-box">
          <div class="saldo-box">
            <h2>Saldo: R$0,00</h1>
          </div>
          <div class="both-details-box">
            <div class="details-box">
              <p>R$ 0,00</p>
              <p>Receitas</p>
            </div>
            <div class="details-box">
              <p>R$ 0,00</p>
              <p>Despesas</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="border-radius: 10px; padding:10px; margin: 3px 6px;">
      <div class="row g-0">
        <h1 style="text-align:center;">Quick Actions</h1>
      </div>
    </div>
  </div>
</div>
