<div class="footer containter">
  <div class="footer-links">
    <a href="https://github.com/Skalle89"><img class="avatar-large" src ="https://avatars.githubusercontent.com/u/47088623?v=4"></a>
    <a href="https://github.com/Antoniofqn"><img class="avatar-large" src="https://avatars.githubusercontent.com/u/95364917?v=4"></a>
    <a href="https://github.com/GbMattos"><img class="avatar-large" src ="https://avatars.githubusercontent.com/u/81327277?v=4"></a>
    <a href="https://github.com/carloseglemos"><img class="avatar-large" src ="https://avatars.githubusercontent.com/u/33298430?v=4"></a>
  </div>
  <div class="footer-copyright">
    <%= image_tag "https://res.cloudinary.com/dmtwwkxzz/image/upload/v1647268176/Logo-_1_akxw7e.png", class: "m-0 p-0", style: "width: 50px; height: 50px;" %>  © Copyright 2022 Dead Simple Finance
  </div>
</div>
