<main>
  <div class="container-fluid m-0" id="backhome">
    <div class="row justify-content-between">
      <div class="col-12 col-md-6 col-lg-3" style="margin-left: 30px; margin-top: 10px;">
        <h1 style="color: white; font-family: 'Raleway', arial; line-height: 50px; font-size: 56px; font-weight: bold;">Welcome to Dead Simple Finance</h1>
        <h3 style="color: white; font-family: 'Raleway', arial;">Track your finance with our simple app</h3>
        <%= form_tag new_user_registration_path, method: :get, class: "row" do %>
          <%= text_field_tag "email", nil, placeholder: "Please enter your e-mail", class: "form-control" %>
          <%= submit_tag "Sign in now!", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <img src="https://liferay-cdn.estacioprd.net/documents/316123/357473/Secretariado-Executivo.png/35ea5d8b-08d0-7d39-ad7b-4d80816797e7?t=1595639362236" alt="">
      </div>
    </div>
  </div>
  <section class="mb-5" style="margin-top: -30px;">
    <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="card-home card col-12 col-md-3 col-lg-3 pt-3 pb-3">
            <img src="https://img.icons8.com/cotton/512/000000/add-dollar--v2.png"/>
            <h4>Track Your Finances!</h4>
            <p>Control your finances every day.</p>
          </div>
          <div class="card-home card col-12 col-md-3 col-lg-3 pt-3 pb-3">
            <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/512/000000/external-savings-investment-kiranshastry-lineal-kiranshastry.png"/>
            <h4>Increase Your Savings!</h4>
            <p>Controlling your finances helps to save a lot of money.</p>
          </div>
          <div class="card-home card col-12 col-md-3 col-lg-3 pt-3 pb-3">
            <img src="https://img.icons8.com/ios/500/000000/easy.png"/>
            <h4>Easy To Use!</h4>
            <p>A very user friendly platform, with a lot of functions!</p>
          </div>
      </div>
    </div>
  </section>
</main>
