%brightness-action {
  &:hover{
    filter: brightness(50%);
  }
}

.container-expenses {
  margin: 60px auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 750px;
  font-size: large;
  font-weight: bold;

}

.navbar-expenses {
  justify-content: space-around;
  background: white;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  padding: 16px 0px;
  align-items: center;


  .add-expense {
    button {
        @extend %brightness-action;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: $red;
        border: none;
        font-size: x-large;
        align-items: center;
      }
  }

  .time-selection {

    flex-grow: 0.55;

    .button-time {
      border-radius: 15px 15px 15px 15px;
      border:none;
      background: white;
      padding: 5px;
      width: 30%;
      color: $money;
      font-weight: bold;
    }

    .button-chevron {
      @extend %brightness-action;
      border-radius: 100%;
      width: 30px;
      border: none;
      background-color:white;
    }
  }

}

.table-expenses{
  justify-content: space-around;
  align-items: center;
  background: white;
  display: flex;
  border-top:2px solid;

  .income-expense {
      padding: 10px 0px;
      flex-grow: 0.47;
      display: flex;


      form{
          align-items: center;
          padding: 20px;

          input{
            background-color: white;
            border: none;
            &:hover{
              font-weight: bold;
            }
          }

      }
    }

}

.expense-card {
  display: flex;
  padding:20px 0;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s all ease-in-out;
  border-top: 1px solid;
  div{
    margin-right: 20px;
  }
  &:hover{
    box-shadow: 0 0 15px rgb(179, 178, 178);
    transform: scale(1.05);
  }
}

.footer-expenses {
  justify-content: space-around;
  background: white;
  display: flex;
  border-top: 2px solid;
  border-radius: 0px 0px 10px 10px;
  padding:10px;
  align-items: center;
}
