.navbar-lewagon {
  justify-content: space-between;
  background: $main;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item {
  width: 100px;
  color: white
}

#profile-picture :hover {
  cursor: pointer;
}
