.saldo-box {
  display:flex;
  text-align: center;
  justify-content: center;
  box-shadow: 0 14px 21px 0 rgba(0,0,0,.06);
  border-radius: 20px;
  opacity: 0.7;
}

#toggle-1 {
  display:none;
}

label {
 -webkit-appearance: push-button;
 -moz-appearance: button;
 display: inline-block;
 cursor: pointer;
 padding: 5px;
}

#mostra {
  display:none;
}

#toggle-1:checked ~ #mostra {
  display:block;
}
