<div class="modal-header">
  <h5 class="modal-title" id="incomeModalLabel">New income</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <%= render "/users/form_income", transaction: @transaction %>
</div>
